body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
}

.background-image {
    background:  src="{{ url_for('static', filename='BG-Omni.png') }}";
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
    padding-top: 4%;
}

.img {
    width: 780px;
    height: 360px;
}

.container {
    margin-top: 1%;
    border: 6px dashed green;
    height: 40vh;
    width: 40%;
    padding-top: 2%;
}

.up {
    clip-path: polygon(25% 25%, 75% 25%, 75% 75%, 50% 100%, 25% 75%);
    height: 90px;
    width: 100px;
}

.back {
    clip-path: polygon(25% 25%, 50% 0%, 75% 25%, 75% 75%, 25% 75%);
    height: 90px;
    width: 100px
}

.left {
    clip-path: polygon(25% 25%, 75% 25%, 100% 50%, 75% 75%, 25% 75%);
    height: 100px;
    width: 90px
}

.right {
    clip-path: polygon(0% 50.25%, 25% 25%, 75% 25%, 75% 75%, 25% 75%);
    height: 100px;
    width: 90px
}

.refresh:hover{
    color: #333333;
}

.col-2 {
    margin-left: 40%;
    margin-top: -15px;
}


button:hover {
    box-shadow: 30%;
    transform: scale(1.2)  ;
    -webkit-transform: scale(1.2)  ;
    -moz-transform: scale(1.2)  ;
    -ms-transform: scale(1.2)  ;
    -o-transform: scale(1.2)  ;
}

.col-1 {
    margin-left: 40%;
    margin-top: -4%;
}


.col-3 {

    margin-top: -3%;
    width: 20%;
    margin-left: 10%;
    padding-left: 17%;
}


.stick {
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
}


.stop,
.refresh {
    width: 20%;
}

footer {
    height: auto;
    background-color: rgb(113, 113, 173);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    height: 50%;
    width: 40px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 312px) and (max-width: 575.98px) {

    body {
        
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 15%;
        padding-top: 5%;
        border: 4px dashed green;
        height: 40%;
        width: 90%;
    }

    .img{
        height: auto;
        width: auto;
    }

    .stick {
        width: 45px;
        height: 45px;
    }


    .col-1,.col-2{
        margin-left: 37%;
        margin-top: 0%;
    }

    .col-3 {
        width: 40%;
        padding-top: 5%;
        padding-left: 25%;
        margin-left: 0%;
        margin-right: -10%;
    }
  
    .up,
    .back {
        height: 250%;
        width: 70px;
    }

    .left,
    .right {
        height: 250%;
        margin-left: 10%;
        width: 60px;
    }

    .stop,
    .refresh {
        width: 40%;
        margin-top: 10%;
    }

    .footer{
        margin-top: -18%;
        height: 9vh;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/* X-Small devices (landscape phones, less than 576px) */
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
    body {
        
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 10%;
        padding-top: 5%;
        border: 4px dashed green;
        height: 40VH;
        width: 80%;
    }

    .img{
        height: auto;
        width: auto;
    }

    .stick {
        width: 50px;
        height: 50px;
    }


    .col-1,.col-2{
        margin-left: 30%;
        margin-top: 0%;
    }

    .col-3 {
        width: 30%;
        padding-top: 5%;
        padding-left: 20%;
        margin-left: 0%;
        margin-right: -10%;
    }
  
    .up,
    .back {
        height: 200%;
        width: 80px;
    }

    .left,
    .right {
        height: 200%;
        margin-left: 10%;
        width: 70px;
    }

    .stop,
    .refresh {
        width: 30%;
        margin-top: 10%;
    }

    .footer{
        margin-top: -15%;
        height: 10vh;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}